/build 
*.o
*.d
/dist
*.map
*.elf
/nbproject/private/
nbproject/Package-Pickit.bash
nbproject/configurations.xml
nbproject/Package-simulator.bash
nbproject/Makefile-variables.mk
nbproject/Makefile-simulator.mk
nbproject/Makefile-local-simulator.mk
nbproject/Makefile-local-Pickit.mk
nbproject/Makefile-impl.mk
nbproject/Makefile-genesis.properties
nbproject/Makefile-Pickit.mk
nbproject/Package-default.bash
nbproject/Makefile-local-default.mk
nbproject/Makefile-default.mk
